{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Trustpilot plugin for Craft CMS 3.x
 *
 * Trustpilot index.twig
 *
 * @author    Scaramanga Agency
 * @copyright Copyright (c) 2020 Scaramanga Agency
 * @link      https://scaramanga.agency
 * @package   Trustpilot
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("scaramangagency\\trustpilot\\assetbundles\\trustpilot\\TrustpilotAsset") %}
{% do view.registerAssetBundle("scaramangagency\\trustpilot\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{% set docsUrl = "https://github.com/scaramangagency/trustpilot/blob/master/README.md" %}

{% set title = "Trustpilot" %}

{% set pluginCpUrl = url('trustpilot') %}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@scaramangagency/trustpilot/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('trustpilot') }}</a>
    </div>
{% endset %}

{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('trustpilot') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
