{% extends "_layouts/cp" %}

{% set navItems = {
    'heading': { heading: "Category" }
} %}

{% set navItems = navItems|merge({
    business: { title: "Business" },
    categories: { title: "categories" },
    'consumer-profile': { title: "consumer-profile" },
    consumer: { title: "consumer" },
    invitation: { title: "invitation" },
    resources: { title: "resources" },
    'service-reviews': { title: "service-reviews" }
}) %}

{% set title = 'Reviews' %}
{% set selectedSubnavItem = 'reviews' %}

{% do view.registerAssetBundle("scaramangagency\\trustpilot\\assetbundles\\trustpilot\\TrustpilotAsset") %}
{% do view.registerAssetBundle("scaramangagency\\trustpilot\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{% set selectedItem = craft.app.request.getSegment(3)|default("business") %}

{% block sidebar %}
    <nav>
        <ul>
            {% for id, item in navItems %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    <li><a href="{{ url("trustpilot/reviews/#{id}") }}" {% if id == selectedItem %}class="sel"{% endif %}>{{ item.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}