{% extends "_layouts/cp" %}

{% set navItems = {
    'heading': { heading: "Category" }
} %}

{% set navItems = navItems|merge({
    '': { title: "Reviews" },
    profile: { title: "Profile" },
    resources: { title: "Resources" },
    invitation: { title: "Invitations" },
    'service-reviews': { title: "Service Reviews" }
}) %}

{% set title = 'Reviews' %}
{% set selectedSubnavItem = 'reviews' %}

{% do view.registerAssetBundle("scaramangagency\\trustpilot\\assetbundles\\trustpilot\\TrustpilotAsset") %}
{% do view.registerAssetBundle("scaramangagency\\trustpilot\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{% set selectedItem = craft.app.request.getSegment(3)|default("") %}

{% block sidebar %}
    <nav>
        <ul>
            {% for id, item in navItems %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    <li><a href="{{ url("trustpilot/reviews/#{id}") }}" {% if id == selectedItem %}class="sel"{% endif %}>{{ item.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}