{% import "_includes/forms" as forms %}

<div id="general">

    {% namespace "settings" %}
        {{ forms.autosuggestField({
            label: 'Invitation Sender Email',
            instructions: 'Which email address should Trustpilot invitations be sent from?',
            id: 'invitationSenderEmail',
            name: 'invitationSenderEmail',
            required: 'required',
            value: settings.invitationSenderEmail,
            suggestions: craft.cp.getEnvSuggestions(),
            suggestEnvVars: true,
            errors: settings.getErrors('invitationSenderEmail')})
        }}

        {{ forms.autosuggestField({
            label: 'Invitation Sender Name',
            instructions: 'Which name should Trustpilot invitations be sent from?',
            id: 'invitationSenderName',
            name: 'invitationSenderName',
            required: 'required',
            value: settings.invitationSenderName,
            suggestions: craft.cp.getEnvSuggestions(),
            suggestEnvVars: true,
            errors: settings.getErrors('invitationSenderName')})
        }}

        {{ forms.autosuggestField({
            label: 'Invitation Reply-To',
            instructions: 'What is the reply to address of your Trustpilot invitations?',
            id: 'invitationReplyToEmail',
            name: 'invitationReplyToEmail',
            required: 'required',
            value: settings.invitationReplyToEmail,
            suggestions: craft.cp.getEnvSuggestions(),
            suggestEnvVars: true,
            errors: settings.getErrors('invitationReplyToEmail')})
        }}
    {% endnamespace %}
</div>